/* COMPUTADORAS/TABLETS HORIZONTALES */
@media (max-width: 1340px) {
  nav {
    flex-direction: row-reverse;
  }

  .menu-toggle {
    display: flex;
    position: relative;
    z-index: 100;
  }
  .list-nav {
    flex-direction: column;
    position: absolute;
    top: 65px;
    background-color: var(--fondo);
    width: 300px;
    padding: 10px;
    border: 2px var(--secundario) solid;
    border-top: none;
    border-radius: 0 0 20px 20px;
    display: none;
  }

  #menu-toggle:checked + .list-nav {
    display: flex;
  }

  .membresia-img {
    display: none;
  }

  .membresia-info,
  .especializacion-info {
    flex-direction: column;
  }
}

/* TABLETS VERTICALES */
@media (min-width: 830px) {
  .seccion_1 {
    flex-direction: column;
  }

  /* SECCION 2 */
  .info-cards-container {
    flex-direction: column;
  }

  .seccion_3,
  .seccion_5 {
    transform: scale(0.7);
  }

  .linea {
    align-items: center;
  }

  .linea p {
    text-align: center;
  }

  .membresia-info h2,
  .especializacion-info h2 {
    font-size: 40px;
  }
  .membresia-info p,
  .especializacion-info p {
    font-size: 30px;
  }

  .membresia-info,
  .especializacion-info {
    gap: 10px;
  }

  .linea button {
    font-size: 30px;
  }
}

/* CELULARES O PANTALLAS CHICAS  */

@media (max-width: 430px) {
  header {
    display: flex;
    align-items: center;
  }

  .img-info {
    display: none;
  }
  .texto-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .texto-info h1,
  .texto-info p {
    text-align: center;
  }

  /* SECCIÓN 2 */
  .info-cards-container {
    flex-direction: column;
  }
  .seccion_2 {
    max-width: 420px;
    margin: 60px;
  }

  .seccion_3,
  .seccion_5,
  .linea {
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }
  .membresia-info h2,
  .especializacion-info h2 {
    font-size: 15px;
  }

  .membresia-info,
  .especializacion-info {
    justify-content: center;
    align-items: center;
  }

  .linea p {
    font-size: 13px;
    text-align: center;
    width: 300px;
  }

  .titulo-animado h2 {
    font-size: 20px;
  }

  .titulo-animado {
    width: 400px;
  }

  .seccion_4 {
    justify-content: center;
    align-items: center;
  }
  .cursos-container {
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }

  .curso-card {
    transform: scale(0.8);
    text-align: center;
  }

  .curso-card p {
    width: auto;
  }

  .curso-card h3 {
    font-size: 20px;
    text-align: center;
  }
  .especializacion-info {
    gap: 10px;
  }

  .seccion_6 {
    padding: 5px;
    flex-wrap: nowrap;
  }

  .footer-text {
    flex-direction: column;
  }

  .list-footer li a {
    font-size: 10px;
  }

  form,
  input,
  select {
    font-size: 17px;
    padding: 6px;
    margin-left: 10px;
  }

  .contacto-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 15px;
    text-align: center;
  }

  .contacto-form input {
    font-size: 15px;
  }

  textarea {
    width: 300px;
  }
}
