@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --fondo: #f5f5f5;
  --primario: #fcebff;
  --secundario: #c993ce;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 100;
}
.list-nav {
  display: flex;
  gap: 70px;
  right: 20px;
  white-space: nowrap;
  align-items: center;
  position: relative top;
}

.search-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 200;
}

.list-nav a {
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.list-nav img,
nav img,
.search-bar img,
.search-bar a img {
  width: 20px;
  height: 22px;
}

#menu-toggle {
  display: none;
}

.menu-toggle {
  display: none;
  position: absolute;
}

.oferta {
  background-color: #fcebff;
  text-align: center;
  padding: 30px;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
}

.gracias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.gracias h1 {
  font-family: "atma", sans-serif;
  font-size: 50px;
  color: #c993ce;
}
.gracias p {
  font-family: "urbanist", sans-serif;
  font-size: 30px;
  max-width: 800px;
}

.gracias button {
  background-color: var(--secundario);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "urbanist", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #e9d6ec;
  color: gray;
  font-family: "atma", sans-serif;
  line-height: 1.5; /*evita que se me deforme el contenido por el cambio del font*/
  transition: all 0.1s ease-in;
}
